button.clear {
    width: 30%;
    height: 100%;
}

.row {
    justify-content: center;
    text-align: center;
}

img {
    width: 30%;
}
 #ossz {
    font-style: italic;
}

body {
    background: rgb(66,65,65);
    background: linear-gradient(0deg, rgba(66,65,65,1) 0%, rgba(168,168,168,1) 67%, rgba(255,255,255,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
}